:root {
   --color-lg-green: #edfbf0;
   --color-dark: #0a192f;
}

body {
   background: var(--color-dark);
   color: var(--color-lg-green);
   font-size: 20px;
}


h1 {
   font-size: 2.5rem;
}

img {
   max-width: 175px;
}

section {
   text-align: center;
}

div#battle-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
}

div#player-choices {
   margin-top: 2rem;
   display: flex;
   justify-content: center;
   gap: 1rem;
   flex-wrap: wrap-reverse;
}

@media (max-width: 480px) {
   img{
      max-width: 100px;
   }
}