@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');


:root {
   --color-lg-green: #edfbf0;
   --color-dark: #0a192f;
}

body {
   font-family: 'Fira Code', monospace, sans-serif;
   background: var(--color-dark);
   color: var(--color-lg-green);
   font-size: 20px;
   max-height: 1200px;
}

h1 {
   font-size: 2.5rem;
}

img {
   max-width: 175px;
}

section {
   text-align: center;
}

div#battle-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
}

div#player-choices {
   margin-top: 2rem;
   display: flex;
   justify-content: center;
   gap: 1rem;
   flex-wrap: wrap-reverse;
}


footer {
   font-size: 0.8rem;
   text-align: center;
   margin-top: 5%;
}

@media (max-width: 420px) {
   img {
      max-width: 120px;
   }
}