:root {
   --color-lg-green: #edfbf0;
   --color-md-green: #22c3a6;
   --color-dk-green: #264D33;
   --color-white: #edfeee;
   --color-dark: #0a192f;
   --color-light: rgba(132, 139, 200, 0.18);
   --color-primary-variant: #111e88;
   --color-dark-variant: #231F20;
   --bg-gradient-green: linear-gradient(90deg, #22c3a6 11%, #5fd388 100%);

   --card-padding: 1.8rem;
   --padding-1: 0.4rem;
   --padding-2: 1.2rem;
   --padding-3: 2.0rem;


   --box-shadow: 0.2rem 0.1rem 0.8rem var(--color-light);
}

body {
   background: var(--color-dark);
   color: var(--color-lg-green);
   font-size: 20px;
}


h1 {
   font-size: 2.5rem;
}

img {
   max-width: 150px;
}

section {
   text-align: center;
}

div#battle-container {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 3rem;
}

div#player-choices {
   margin-top: 2rem;
}

@media (max-width: 480px) {
   img{
      max-width: 100px;
   }
}